@charset "utf-8";

*{
    margin: 0; padding: 0;
}

a{
    color: inherit;
    text-decoration: inherit;
}

ul,ol{
    list-style: none;
}

img{
    max-width: 100%;
}

html{
    background-color: #fff;
    color: #333;
}

.modal{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #000;
    opacity: 0.7;
    z-index: 2000;
    display: none;
}

.modal.on{
    display: block;
}

.popup{
    position: fixed;
    left: 300px;
    top: 300px;
    width: 300px;
    padding: 30px;
    background-color: #fff;
    display: none;
    z-index: 3000;
}

.popup-ctrl{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.btn-close{
    padding: 10px;
    border: 1px solid #000;
    cursor: pointer;
}

.popup.on{
    display: block;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

header{
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color: green;
    align-items: flex-end;
    position: relative;
    z-index: 1000;
}

.gnb a{
    display: flex;
    width: 150px;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.gnb{
    display: flex;
    align-self: flex-start;
    padding-top: 50px;
    padding-right: 20px;
}

.gnb>li{
    position: relative;
}

.gnb>li:hover>a{
    background-color: #000;
    color: #fff;
}

.gnb ul a:hover{
    background-color: #000;
    color: #fff;
}

.gnb>li>ul{
    position: absolute;
    left: 0;
    top: 50px;
    height: 0;
    overflow: hidden;
    transition: all 0.5s ease 0s;
}

.gnb:hover>li>ul{
    height: 150px;
}

.gnb:after{
    content:"";
    position: absolute;
    left: 0;
    top: 100px;
    background-color: #fff;
    width: 100%;
    height: 170px;
    z-index: -1;
    height: 0;
    transition: all 0.5s ease 0s;
}

.gnb:hover:after{
    height: 170px;
}

.station{
    height: 300px;
    overflow: hidden;
}

.train{
    width: 400%;
    display: flex;
}

.train>li{
    flex: 1;
}

.content{
    height: 200px;
    display: flex;
    gap: 10px;
}

.content section{
    flex: 1;
}

.notice{
    margin-top: 10px;
}

.notice li{
    display: flex;
    justify-content: space-between;
}

.gallery{
    margin-top: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.banner{
    background: url(../img/banner.jpg) no-repeat 50% 50% / cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner a{
    background: green;
    color: #fff;
    padding: 10px 20px;
}

footer{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000;
    color: #fff;
}